services:
  web:
    build: 
      context: ${CONTEXTO}
      dockerfile: ./dockerfiles/sweb/nginx/Dockerfile
    container_name: ${NOMBRE}
    ports:
      # Los puertos deben ser una lista (con guion '-')
      - "${PORT_WEB}:80" 
    
    # 游뚿 CORRECCI칍N CLAVE: Estas claves deben estar al mismo nivel que 'build' y 'ports'
    env_file:
      - ./.env # Aseg칰rate de que env_file tambi칠n sea una lista (aunque sea de un solo elemento)
    
    volumes:
      # Los vol칰menes deben ser una lista (con guion '-')
      - ./logs:/root/logs 
    
    networks:
      netcarontewebnginx:
        # La direcci칩n IP debe ser un sub-par치metro del nombre de la red
        ipv4_address: ${IP} 

networks:
  netcarontewebnginx:
    ipam:
      driver: default
      config:
        # Los par치metros de configuraci칩n de IPAM (como subnet) deben estar en una lista
        - subnet: ${SUBNET}